# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [ ]:
a=36
b=36
print(a==b)
print(id(a)==id(b))

True
True

*місце для текстової відповіді

Так як змінні належать проміжку від -5 до 256, то вони рівні як за значенням, так і посилаються на один і той самий об'єкт в пам'яті

2. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна True посилається на значення булевого та цілочисленого типу)?

In [ ]:
my_bool=True
isinstance(my_bool, bool)

True

In [ ]:
isinstance(my_bool, int)

True

In [ ]:
type(my_bool)

bool

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [ ]:
a_1=14
b_1=4.32
result1 = f"a_1 + b_1 = {a_1 + b_1}"
print(result1)
result2 = f"a_1 - b_1 = {a_1 - b_1}"
print(result2)
result3 = f"a_1 / b_1 = {a_1 / b_1}"
print(result3)
result4 = f"a_1 * b_1 = {a_1 * b_1}"
print(result4)
result5 = f"a_1 // b_1 = {a_1 // b_1}"
print(result5)
result6 = f"a_1 % b_1 = {a_1 % b_1}"
print(result6)
result7 = f"a_1 ** b_1 = {a_1 ** b_1}"
print(result7)

a_1 + b_1 = 18.32
a_1 - b_1 = 9.68
a_1 / b_1 = 3.2407407407407405
a_1 * b_1 = 60.480000000000004
a_1 // b_1 = 3.0
a_1 % b_1 = 1.0399999999999991
a_1 ** b_1 = 89386.74321119912

4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [ ]:
c = int(b_1)
print(c)
c_1 = False
d = int(c_1)
print(d)

4
0

# IІІ. Рядки (String).

5. Створити пустий рядок двома різними способами.

In [ ]:
empty_str = ""
empty_str1 = str()

6. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на екран.

In [ ]:
my_str = "'"
print(my_str)
raw_str = r"'"
print(raw_str)

'
'

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [ ]:
my_surname = "Prokopchuk"
format_str = f"My surname is {my_surname}"
print(format_str)

My surname is Prokopchuk

8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [ ]:
e = "My dog is crazy."
tokens = e.split(" ")
print(tokens)

['My', 'dog', 'is', 'crazy.']

# IV. Робота зі списками.

9. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [ ]:
list_1 = list((3, 5, 12, 78))
list_2 = [3, 5, 12, 78]
print(list_1)
print(list_2)
list_res = f"The length of list_1: {len(list_1)}"
print(list_res)

[3, 5, 12, 78]
[3, 5, 12, 78]
The length of list_1: 4

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [ ]:
list1 = [None, 6, 89, 0]
list2 = [1, 'a', 11]
list1.append(list2)
print(list1)

[None, 6, 89, 0, [1, 'a', 11]]

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [ ]:
list_of_lists = [[1, 2, 'x'], [33, 0.4, 'd'], [0, 0.01], ['asd', 34]]
res = list_of_lists[3][0]
print(res)

asd

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [ ]:
list_3 = [45, 'absd', 8.12, 3123, 'f', 0.2, None, -4, True, 0]
new_list = list_3[2:8]
print(new_list)

[8.12, 3123, 'f', 0.2, None, -4]

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [ ]:
my_tuple1 = (34,)
print(my_tuple1)

(34,)

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

*місце для текстової відповіді

Схожості: обидва зберігають колекцію елементів.
Відмінності: кортеж не можна змінювати (immutable), в той час як список можна (mutable). Також вони відрізняються декларацією( для кортежу ми використовуємо "(,)", а для списку- "[]"). Крім того, кортежі є швидшими.
---Списки використовуємо, коли важливі порядок та динаміка, а кортежі - коли потрібно обмежити дії користувача щодо змін структури.

16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [ ]:
tuple_2 = (12.42, 0.3, 67.3, 0.005, 5.90, 6.3, 89.89, 8.008, 9.3, 0.78)
tuple_3 = tuple_2[::-2]
print(tuple_3)

(0.78, 8.008, 6.3, 0.005, 0.3)

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [ ]:
empty_set = set()
print('Initial Set: ', empty_set)
empty_set.add('asd')
empty_set.add(14)
empty_set.add(0.56)
empty_set.add(True)
print('Updated Set: ', empty_set)

Initial Set:  set()
Updated Set:  {0.56, 'asd', 14, True}

*місце для текстової відповіді

Так, множини є змінним типом даних. Можна змінювати їх вміст після створення за допомогою методів додавати, видалення та зміни елементів в множині.

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [ ]:
my_list = [1, 1, 2, 67, 67, 8, 9]
print('List: ', my_list)
my_set = set(my_list)
print('Set: ', my_set)

List:  [1, 1, 2, 67, 67, 8, 9]
Set:  {1, 2, 67, 8, 9}

*місце для текстової відповіді

Множини не можуть містити дублікатів. Це означає, що при створенні множини з списку, що містить однакові елементи, дублікати будуть видалені.

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [23]:
set_1 = {True, 5, 78, 2, 'a'}
set_2 = {0, 32, 1, 78}
print("Set 1: ", set_1)
print("Set 2: ", set_2)
set_3 = set_1 | set_2
print('set_1 | set_2: ', set_3)
set_4 = set_1 & set_2
print('set_1 & set_2: ', set_4)
set_5 = set_1.difference(set_2)
print('set_1 - set_2: ', set_5)
set_6 = set_2.difference(set_1)
print('set_2 - set_1: ', set_6)
set_7 = set_1 ^ set_2
print('set_1 ^ set_2: ', set_7)

Set 1:  {True, 2, 5, 'a', 78}
Set 2:  {0, 1, 32, 78}
set_1 | set_2:  {0, True, 2, 32, 5, 78, 'a'}
set_1 & set_2:  {1, 78}
set_1 - set_2:  {2, 5, 'a'}
set_2 - set_1:  {0, 32}
set_1 ^ set_2:  {0, 32, 2, 5, 'a'}

# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [26]:
my_dict = {}
my_dict["1"] = 'one'
my_dict["name"] = 'Stan'
my_dict["True"] = '1'
my_dict["0,1"] = '0,011'
print(my_dict)

{'1': 'one', 'name': 'Stan', 'True': '1', '0,1': '0,011'}

*місце для текстової відповіді

Не можна використовувати списки як ключі, адже списки можна змінювати (mutable).

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

In [28]:
my_dict_1 ={'a': 10, 'b': 20, 'c': 30, 'd': {1: 10, 15: 90, 40:{'d.d':444, 'd.c': 440} }}
my_dict_3 = my_dict_1['d'][40]['d.c']
print(my_dict_3)

440

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.