# I. OOP

1. (6б). Створіть клас Animal, додайте три атрибути, один з яких має значення за замовчуванням та два методи на свій розсуд.

In [65]:
class Animal():
    def __init__(self, age, kind, habitat = "forest"):
        self.age = age
        self.kind = kind
        self.habitat = habitat

    def get_information_of_animal(self):
        return f"kind of animal: {self.kind}, age: {self.age}, habitat: {self.habitat}"

    def speak(self, sound):
        return f"{self.name} says {sound}"

2. (2б). Створіть два обʼєкти цього класу, де один з обʼєктів створюється із дефолтним значенням атрибуту. На одному обʼєкті отримайте значення його атрибуту, а на іншому викличте один з його методів.

In [13]:
animal_1 = Animal(1, "fox")
print("Habitat of the first animal: "+ animal_1.habitat)
print("="*40)
animal_2 = Animal(2, "shark", habitat = "ocean")
print("Information about the second animal: " + animal_2.get_information_of_animal())

Habitat of the first animal: forest
========================================
Information about the second animal: kind of animal: shark, age: 2, habitat: ocean

3. (5б). Створіть клас, де атрибути мають різні рівні доступу. Спробуйте отримати їхні значення та опишіть результати.

In [205]:
class Movies():
    def __init__(self, name, directors, year):
        self._name = name
        self.__directors = directors
        self.year = year

    def get_name(self):
        return self._name

    def set_name(self, value):
        self._name = value

movie_1 = Movies("Spider-Man: Into the Spider-Verse", "Bob Persichetti, Peter Ramsey, Rodney Rothman", 2018)
print("Movie name:", movie_1.get_name())
print("Movie directors:", movie_1._Movies__directors)
print("Year:", movie_1.year)

Movie name: Spider-Man: Into the Spider-Verse
Movie directors: Bob Persichetti, Peter Ramsey, Rodney Rothman
Year: 2018

Публічний атрибут: year доступний для прямого доступу та зміни ззовні класу.

Захищений атрибут: _name доступний лише в межах класу та його підкласів (умовно дозволяє отримати до нього дозвіл, аде краще так не робити). Для отримання доступу можна використати методи get та set.

Приватний атрибут: __directors доступний лише в межах класу. Прямий доступ до нього ззовні класу заборонено, тому для отримання доступу можна прописати клас, в якому визначений цей атрибут (movie_1.___Movies__directors)

4. (7б). Як ви розумієте термін self? Для чого використовується метод __init __?


Self - це посилання на сам екземпляр класу, який викликає метод (використовується в методах класів для доступу до атрибутів та методів екземпляра класу).

Метод init - це спеціальний метод, який викликається при створенні нового екземпляра класу (використовується для ініціалізації атрибутів класу).

5. (9б). Створіть клас Фігура без атрибутів, з методом get_area для отримання площі фігури, що повертає 0 та __add __, який приймає self та other в якості аргументів, а повертає суму площин фігур self та other.

In [80]:
class Figure():
    def __init__(self):
         pass

    def get_area(self):
        return 0;

    def __add__(self, other):
        return self.get_area() + other.get_area()

figure_1 = Figure()
figure_2 = Figure()

print(f"Total area: {figure_1 + figure_2}")

Total area: 0

6. (11б). Створіть 2 дочірніх класи від Фігури: Трикутник та Коло, які мають атрибути, необхідні для розрахунку площин. Визначте метод get_area в кожному з них так, щоби вони розраховували площу в залежності від формули для кожного типу фігури. Створіть обʼєкт класу Трикутник та обʼєкт класу Коло. Виконайте операцію суми за допомогою оператора + між ними.

In [87]:
import math

class Triangle(Figure):
    def __init__(self, side_a, height_ha):
        super().__init__()
        self.side_a = side_a
        self.height_ha = height_ha

    def get_area(self):
      return 1/2 * (self.side_a * self.height_ha)

class Circle(Figure):
    def __init__(self, radius):
        super().__init__()
        self.radius = radius

    def get_area(self):
      return math.pi * self.radius ** 2

triangle_1 = Triangle(12, 6)
print(f"area of triangle = {triangle_1.get_area()}")
circle_1 = Circle(6)
print(f"area of circle = {circle_1.get_area()}")
print(f"Total area (triangle + circle): {triangle_1 + circle_1}")

area of triangle = 36.0
area of circle = 113.09733552923255
Total area (triangle + circle): 149.09733552923257

7. (3б). Продемонструйте різницю між isinstance та issubclass.

In [93]:
class Plants():
    def __init__(self, kind, colour, conditions):
        self.kind = kind
        self.colour = colour
        self.conditions = conditions
        pass

class Flowers(Plants):
    def __init__(self, kind, colour, conditions):
        super().__init__(kind, colour, conditions)
        pass

flower = Flowers("Rose", "Red", "Sunlight, moderate water")
plant = Plants("Cactus", "Various", "Full sunlight, minimal water")

print(isinstance(flower, Plants))
print(isinstance(flower, Flowers))
print(isinstance(plant, Plants))
print(isinstance(plant, Flowers))

print(issubclass(Flowers, Plants))
print(issubclass(Plants, Flowers))

True
True
True
False
True
False

8. (13б). Створіть клас BankAccount з приватними атрибутами balance та account_number. Реалізуйте методи поповнення та зняття коштів, забезпечивши належну інкапсуляцію. Підказка: використовуйте декоратори property та setter.

In [98]:
class BankAccount():
    def __init__(self, account_number, balance):
        self.__account_number = account_number
        self.__balance = balance

    @property
    def balance(self):
        return self.__balance

    @balance.setter
    def balance(self, new_balance):
        if new_balance < 0:
            print("Balance cannot be negative")
        else:
            self.__balance = new_balance

    @property
    def account_number(self):
        return self.__account_number

    @account_number.setter
    def account_number(self, ac_number):
        self.__account_number = ac_number

    def deposit(self, amount):
        if amount < 0:
            print("Deposit amount cannot be negative")
        else:
            self.balance += amount

    def withdraw(self, amount):
        if amount < 0:
            print("Withdrawal amount cannot be negative")
        if amount > self.balance:
            print("There is not enough money")
        else:
            self.balance -= amount

account_1 = BankAccount("234257238", 6000)
account_2 = BankAccount("256762119", 45000)

print(f"Balance of {account_1.account_number}: {account_1.balance}")
print(f"Balance of {account_2.account_number}: {account_2.balance}")

account_1.deposit(648)
print(f"Balance of {account_1.account_number} after deposit: {account_1.balance}")

account_2.withdraw(15000)
print(f"Balance of {account_2.account_number} after withdrawal: {account_2.balance}")

Balance of 234257238: 6000
Balance of 256762119: 45000
Balance of 234257238 after deposit: 6648
Balance of 256762119 after withdrawal: 30000

9. (11б). Створіть клас Library, який містить список об'єктів типу Book. Реалізуйте методи для додавання книги, видалення книги та відображення списку книг.

In [78]:
class Book():
     def __init__(self, title, author, year):
        self.title = title
        self.author = author
        self.year = year

class Library():
    def __init__(self):
        self.books = []

    def add_book(self, book):
        self.books.append(book)

    def remove_book(self, book):
        for each_book in self.books:
            if each_book == book:
                self.books.remove(each_book)
            else:
                self.books

    def display(self):
        for book in self.books:
            print(f"{book.title} ({book.author}, {book.year})")

library = Library()
print("Library: ")
book_1 = Book("Dune", "Frank Herbert", 1965)
book_2 = Book("The Little Prince", "Antoine de Saint-Exupery", 1943)
book_3 = Book("Sherlock Holmes", "Arthur Conan Doyle", 1892)
book_4 = Book("1984", "George Orwell", 1949)

library.add_book(book_1)
library.add_book(book_2)
library.add_book(book_3)
library.add_book(book_4)

library.display()

print("="*40)

print(f"Library without some books: ")
library.remove_book(book_1)
library.remove_book(book_3)

library.display()

Library:
Dune (Frank Herbert, 1965)
The Little Prince (Antoine de Saint-Exupery, 1943)
Sherlock Holmes (Arthur Conan Doyle, 1892)
1984 (George Orwell, 1949)
========================================
Library without some books:
The Little Prince (Antoine de Saint-Exupery, 1943)
1984 (George Orwell, 1949)

10. (13б). Створіть клас Person з атрибутами name та age. Створіть ще один клас Employee з такими атрибутами, як department та salary. Створіть клас Manager, який успадковує обидва класи Person та Employee. Продемонструйте використання множинної спадковості, створивши обʼєкт класу Manager та отримавши mro для цього класу.

In [203]:
class Person():
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def get_information_about_person(self):
        print(f"Name: {self.name}, age: {self.age}")

class Employee():
    def __init__(self, department, salary):
        self.department = department
        self.salary = salary

    def get_information_about_employee(self):
        print(f"departament: {self.department}, salary: {self.salary}")

class Manager(Employee, Person):
    def __init__(self, department, salary, name, age, responsibilities):
        super().__init__(name, age)
        super(Employee, self).__init__(department, salary)
        self.responsibilities = responsibilities

    def get_information(self):
        super().get_information_about_person()
        super().get_information_about_employee()
        print(f"responsibilities: {self.responsibilities}")


print(Manager.__mro__)
print("="*40)
manager_1 = Manager("Bob", 23, "Finance", 20000, "paperwork")
manager_1.get_information()

(<class '__main__.Manager'>, <class '__main__.Employee'>, <class '__main__.Person'>, <class 'object'>)
========================================
Name: Bob, age: 23
departament: Finance, salary: 20000
responsibilities: paperwork

# II. Iterator

11. (4б). Визначте рядок(str) з 4ма різними за значенням символами. Створіть ітератор на основі цього рядка. Викличте 5 разів функцію next на ітераторі, 4ри перших з них огорніть у ф-цію print().

In [99]:
my_string = "abgh"
iterator = iter(my_string)
print(next(iterator))
print(next(iterator))
print(next(iterator))
print(next(iterator))

a
b
g
h

А що якщо викликати цю ж функцію на рядку?

In [104]:
print(next(my_string))
print(next(my_string))
print(next(my_string))
print(next(my_string))

TypeError: 'str' object is not an iterator

 12. (5б). Опишіть своїми словами в одному реченні, як ви розумієте різницю між ітерабельними обʼєктами та ітераторами (можна на прикладі).

Ітерабельні об'єкти - це ті, які можна обійти за допомогою циклу for (рядки, списки, словники), а ітератор - це об'єкт, який послідовно видає елементи з ітерабельного об'єкта.

13. (11б). Створіть клас, що має визначений Iterator Protocol та при кожному виклику next повертає літери англійської абетки, поки вони не вичерпаються.

In [171]:
class Alphabet():
    def __init__(self, start, length):
        self.i =start -1
        self.length = length

    def __iter__(self):
        return self

    def __next__(self):
        self.i += 1
        if self.i > len(alphabet):
            raise StopIteration
        else:
            return alphabet[self.i]

alphabet = "abcdefghijklmnopqrstuvwxyz"
iterator = Alphabet(0, len(alphabet))

In [199]:
next(iterator)

StopIteration:

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.